<h2>Sign in</h2>

<%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>
    Name: <%= collection_select(:user, :name, User.all, :name, :name) %><br>
    Password: <%= password_field(:user, :password) %><br>
    <%= submit_tag 'Sign In' %>
<% end %> 